<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdut.togethertime.mapper.UserMapper">

    <resultMap id="BaseResult" type="edu.gdut.togethertime.model.entity.User">
        <id property="id" column="id"/>
        <result column="username" property="username"/>
        <result column="unionid" property="unionId"/>
        <result column="img_url" property="imgUrl"/>
        <result column="openid" property="openId"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="UserColumn">
        id, username, unionid, img_url, openid, last_login_time, create_time, update_time
    </sql>

    <select id="selectLoginUser" resultMap="BaseResult">
        select <include refid="UserColumn"/>
        from `user`
        where ${column} = #{value}
    </select>

    <select id="selectUserById" resultMap="BaseResult" parameterType="java.lang.Long">
        select <include refid="UserColumn"/>
        from `user`
        where id = #{id}
    </select>

    <select id="selectUserByUnionId" resultMap="BaseResult" parameterType="java.lang.String">
        select <include refid="UserColumn"/>
        from `user`
        where unionid = #{unionId}
    </select>

    <select id="selectUserByOpenId" resultMap="BaseResult" parameterType="java.lang.String">
        select <include refid="UserColumn"/>
        from `user`
        where openid = #{openId}
    </select>

    <delete id="deleteUserByUnionId" parameterType="java.lang.String">
        delete from `user`
        where unionid = #{unionId}
    </delete>

    <insert id="registUser" parameterType="edu.gdut.togethertime.model.entity.User">
        insert into `user`(username, unionid, img_url, openid, last_login_time)
        values (#{username}, #{unionId}, #{imgUrl}, #{openId}, #{lastLoginTime})
    </insert>

    <update id="update" parameterType="edu.gdut.togethertime.model.entity.User">
        update `user`
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl},
            </if>
            <if test="lastLoginTime != null">
                las_login_time = #{lastLoginTime},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>